<?xml version="1.0"?>    
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\ResourceModel\Customer" type="Modulesgarden\Crm\Model\ResourceModel\Customer" />
    <preference for="Magento\Customer\Block\Adminhtml\Edit" type="Modulesgarden\Crm\Block\Adminhtml\Edit" />
</config>