<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_prepare_save">
        <observer name="adminhtml_customer_prepare_save" instance="Modulesgarden\Crm\Observer\BeforeCustomerSaveObserver" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="adminhtml_customer_save_after" instance="Modulesgarden\Crm\Observer\AfterCustomerSaveObserver" />
    </event>
</config>
