# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/README.md
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2020-05-24.
!app/bootstrap.php
!app/code/**/*
!app/design/frontend/Infortis/**/*
!app/etc/config.php
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2018-05-31.
!vendor/magento/module-backend/Block/Widget/Grid/Massaction/Extended.php
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2020-05-11.
!vendor/magento/module-customer/Model/Indexer/Source.php
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2018-10-04.
!vendor/magento/module-import-export/Model/Import/AbstractEntity.php
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2018-10-04.
!vendor/magento/module-import-export/Model/Import/Entity/AbstractEntity.php
/update/
dev
vendor/codeception
vendor/magento/framework/Test
vendor/magento/magento2-base
vendor/magento/magento2-functional-testing-framework
vendor/tubalmartin
