# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
!/.htaccess
# 2020-09-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# https://www.upwork.com/messages/rooms/room_05635c0ca5b122c5c85316f3e3cb19d3/story_6bad2afd40a594747ca8fb172c36883f
!/.user.ini
!/composer.json
!/readme.md
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2020-05-24.
!/app/bootstrap.php
!/app/code/**/*
!/app/design/frontend/Infortis/**/*
!/app/etc/config.php
# 2020-09-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# https://www.upwork.com/messages/rooms/room_05635c0ca5b122c5c85316f3e3cb19d3/story_6bad2afd40a594747ca8fb172c36883f
!/pub/.user.ini
# 2020-09-25 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Undefined index: HTTP_USER_AGENT
# in var/view_preprocessed/pub/static/vendor/emipro/socialshare/view/frontend/templates/socialshare.phtml on line 1»:
# https://github.com/dxmoto/site/issues/103
!/vendor/emipro/socialshare/view/frontend/templates/socialshare.phtml
# 2020-09-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# M2E Pro / eBay: «Invoice was not created. Reason: SQLSTATE[42000]: Syntax error or access violation:
# 1103 Incorrect table name '', query was: INSERT INTO `` () VALUES ()»
# https://github.com/dxmoto/site/issues/88
!/vendor/m2e/ebay-amazon-magento2/Model/Order.php
# 2020-09-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Compilation from source: LESS file is empty:
# frontend/Infortis/ultimo/en_US/Magento_Swatches/css/swatches.less»: https://github.com/dxmoto/site/issues/89
!/vendor/magento/framework/Css/PreProcessor/Adapter/Less/Processor.php
# 2020-09-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 at vendor/magento/framework/Escaper.php:94»
# https://github.com/dxmoto/site/issues/92
!/vendor/magento/framework/Escaper.php
# 2020-08-02 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Wrong file» on opening any frontend product page in Windows":
# https://github.com/dxmoto/site/issues/26
# 2020-08-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "A watermark is shown with a wrong transparency on the frontend product pages in Magento 2.3.5":
# https://github.com/dxmoto/site/issues/33
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2020-09-10 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Broken reference: the 'amasty.finder.5' element cannot be added as child to 'content', because the latter doesn't exist»:
# https://github.com/dxmoto/site/issues/53
!/vendor/magento/framework/View/Layout/ScheduledStructure/Helper.php
# 2020-09-09 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Argument 3 passed to Magento\Cms\Model\Wysiwyg\CompositeConfigProvider::__construct()
# must be of the type array, null given»: https://github.com/dxmoto/site/issues/52
!/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php
# 2020-07-16 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Invalid template file: 'vendor/magento/module-theme/view/frontend/templates/page/js/require_js.phtml'»:
# https://github.com/dxmoto/site/issues/13
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-10-31 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "The `BoostMyShop_AdvancedStock` module does not show the «Orders to ship» tab
# on backend `erp/products/edit` pages in Magento 2.3.5": https://github.com/dxmoto/site/issues/128
!/vendor/magento/module-backend/Block/Widget/Tabs.php
# 2020-09-16 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) «Broken reference: the 'skip_gallery_before' tries to reorder itself towards 'product.info.media.image',
# but their parents are different: 'skip_gallery_before.wrapper' and 'product.info.media' respectively.»:
# https://github.com/dxmoto/site/issues/67
# 2) «Broken reference: the 'skip_gallery_after' tries to reorder itself towards 'product.info.media.image',
# but their parents are different: 'skip_gallery_after.wrapper' and 'product.info.media' respectively.»:
# https://github.com/dxmoto/site/issues/68
!/vendor/magento/module-catalog/view/frontend/layout/catalog_product_view.xml
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2018-10-04.
# 2020-07-31
# It could be related to:
# https://github.com/magento/magento2/issues/15679#issuecomment-394157625
# https://github.com/magento/magento2/pull/15835
!/vendor/magento/module-import-export/Model/Import/AbstractEntity.php
# 2020-07-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Add the modified standard files to the source control": https://github.com/dxmoto/site/issues/2
# 2) This file was modified by someone at 2018-10-04.
!/vendor/magento/module-import-export/Model/Import/Entity/AbstractEntity.php
# 2020-09-25 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Call to a member function toArray() on null in vendor/mirasvit/module-dashboard/Controller/Adminhtml/Api/Request.php:74»:
# https://github.com/dxmoto/site/issues/98
!/vendor/mirasvit/module-dashboard/Controller/Adminhtml/Api/Request.php
# 2020-09-25 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 at vendor/magento/framework/Escaper.php:94»
# https://github.com/dxmoto/site/issues/92
!/vendor/magento/module-sales/view/frontend/templates/order/order_date.phtml
# 2020-09-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Call to a member function appendChild() on null in vendor/pelago/emogrifier/src/Emogrifier.php:1431»
# https://github.com/dxmoto/site/issues/87
!/vendor/pelago/emogrifier/src/Emogrifier.php
/update/
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
