//## Main Layout CSS Builder

.mg-wrapper
{

    @import '../global/_global_variables'; // global variables
    @import '../global/components/mixins'; // global mixings

    @import '_variables'; // theme level variables

    @mixin reset-container() {
      	> .container {
        	width: 100%;
        	max-width: none !important;
        	margin: 0 !important;
    	}
    }

    @import 'sections/_print'; // print layout

    @import 'default.scss';
    @import 'sections/_header'; // page header
    @import 'sections/_content'; // page content
    @import 'sections/_footer';   // page footer

    @import 'sections/_theme-panel';  // theme customizer panel

    /***
    Page Loading
    ***/

    .page-on-load {
    	background: #fefefe;

    	.page-header,
    	.page-container,
    	.page-prefooter,
    	.page-footer,
    	> .clearfix {
    		display: none;
    		transition: all 2s;
    	}
    }

}