/* Page Container */
.page-container {
    clear: both;
}

.page-head {
	background: #fff;

	.container {
		position: relative;
	}

	.page-title {
		display: inline-block;
		float: left;
		padding: 19px 0;

		> h1 {
			color: #697882;
			font-size: 22px;
			font-weight: 400;
			margin: 0;

			> small {
				color: #9eacb4;
				font-size: 13px;
				font-weight: 400;
			}
		}
	}


	.page-toolbar {
		display: inline-block;
		float: right;
	}
}

.breadcrumb {

    padding: 8px 15px;
    list-style: none;
    background: transparent;
    border-radius: 4px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;

    > li {
      display: inline-block;

        a,
        i {
            color: darken($bg-color, 30%);

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
                // color: red;
                }
        }
    }

    > li + li:before {
      padding: 0 0 0 5px;
      color: darken($bg-color, 20%);
      // color: #ccc;
      content: "/\00a0";
    }

    > .active {
        color: darken($bg-color, 25%);
    }
}


.breadcrumb {
  .active > span {
    color: #9eacb4;
  }
}


.page-content {
    background: $page-content-bg-color;
    padding: 15px 0 15px;
    position: relative;
    min-height: 600px;
}

@media (max-width: $screen-sm-max) { /* 991px */

	.page-head {
		background: #EFF3F8;

    	@include reset-container();
	}

  	.page-content {
      	/*padding-top: 0px;*/
      	@include reset-container();
  	}
}