/***
Page Header
***/

.page-header
{
    @include clearfix();
    @include opacity(1);

    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    height: $header-top-nav-height;

    /* Header container */
    .container,
    .container-fluid {
        position: relative;
    }

    /* Fixed header */
    &.navbar-fixed-top {
        z-index: $zindex-header-fixed;
    }

    /* Static header */
    &.navbar-static-top {
        z-index: $zindex-header-static;
    }

    /* Page Header Menu */
    .top-menu {
        display: block;
        height: $header-top-nav-height;
        clear: both;
        border-top-left-radius: $header-top-nav-radius;
        border-top-right-radius: $header-top-nav-radius;

        /* modulesgarden module name */
        div.modulename {
            float: left;
            
            > div,
            > small {
                font-family: $header-top-nav-module-name-font-family;
                padding: $header-top-nav-module-name-container-padding;
                /*font-weight: $header-top-nav-module-name-font-weight !important;*/
            }

            > div,
            > a {
                color: $header-top-nav-module-name-font-color;
                font-size: $header-top-nav-module-name-font-size;

                font-weight: $header-top-nav-module-name-font-weight !important;
            }
            > small {
                color: $header-top-nav-module-subname-font-color;
                font-size: $header-top-nav-module-subname-font-size;
            }
            
            &.centerred {
                float: none;
                text-align: center;
                border-bottom: 2px solid #1A4D80;
                margin-left: 20px;
                margin-right: 20px;
                height: 60px;
                > small {
                    display: none;
                }
                > div {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    line-height: 45px;
                }
            }
        }

        /* Main Module Navigation Bar */
        .nav-menu {
            margin: 0 0 0 -17px;
            margin: 0;
            float: left;

            .navbar-nav {
                position: static;

                &.navbar-right {
                    .dropdown-menu {
                        left: auto;
                        right: 0;
                    }
                }

                /* Navigation Menu */
                > li {

                    > a {
                        font-size: $header-top-nav-menu-link-font-size;
                        font-weight: $header-top-nav-menu-link-font-weight;
                        padding: $header-top-nav-menu-general-item-padding;
                        font-family: $header-top-nav-font-family;
                        line-height: $header-top-nav-line-height;

                        &:focus {
                            background: $header-top-nav-default-link-bg-color-on-hover;
                        }
                    }

                    &.current,
                    &.active {
                            background: $header-top-nav-active-bg-color !important;
                        .selected {
                            left: 50%;
                            bottom:0;
                            position: absolute;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 6px solid transparent;
                            display: inline-block;
                            margin: 0;
                            width: 0;
                            height:0px;
                            margin-left: -7px;
                            margin-bottom:-6px;
                            background: $header-top-nav-active-bg-color !important;
                        }
                    }

                    .dropdown-menu {
                        margin-top: 0;
                        border: none;
                        min-width: 195px;
                        max-width: 235px;

                        li {
                            > a {
                                font-family: $header-top-nav-font-family;
                                font-size:  $header-top-nav-menu-dropdown-link-font-size;
                                font-weight:  $header-top-nav-menu-dropdown-link-font-weight;
                                padding: $header-top-nav-submenu-general-item-padding;
                                white-space: normal;

                                .label,
                                .badge {
                                    font-weight: 300;
                                }
                            }
                        }
                    }

                }

                /* Top Links */
                > li.dropdown {
                    height: $header-top-nav-height;
                    display: inline-block;

                    &:last-child {
                        padding-right: 0;
                    }

                    /* 1st level */
                    > .dropdown-toggle {
                        padding: $header-top-nav-menu-general-item-padding;
                        font-family: $header-top-nav-font-family;

                        &:last-child {
                            padding-right: 0;
                        }

                        > i {
                            font-size: $header-top-menu-icon-font-size;
                            line-height: $header-top-nav-line-height - 1px;

                            &.glyphicon {
                                font-size: $header-top-menu-icon-font-size - 1;
                            }
                        }

                        > .badge {
                            font-family: $header-top-nav-font-family;
                            position: absolute;
                            top: $header-top-menu-general-item-badge-top;
                            right: $header-top-menu-general-item-badge-right;
                            background: $header-top-nav-badge-default-bg-color;
                            color: $header-top-nav-badge-default-font-color;
                            font-weight: 300px;
                            padding: 3px 6px;
                        }

                        &:focus {
                            background: none;
                        }
                    }

                }


                /* Separator */
                > li.dropdown-separator {
                    padding-left:  0px;
                    padding-right: 6px;

                    .separator {
                        float: left;
                        display: inline-block;
                        width: 1px;
                        height: 18px;
                        margin-left: 5px;
                        margin-top: $header-top-nav-separator-margin-top;
                    }
                }

                /* Extended Dropdowns */
                > li.dropdown-extended {

                    .dropdown-menu {
                        min-width: 160px;
                        max-width: 300px;
                        width: 300px;
                        z-index: $zindex-header-top-menu;

                        > li.external {
                            display: block;
                            overflow: hidden;
                            padding: 15px 15px;
                            letter-spacing: 0.5px;

                            @include border-radius(4px 4px 0 0);

                            > h3 {
                                margin: 0;
                                padding: 0;
                                float: left;
                                font-size: 13px;
                                display: inline-block;
                            }

                            > a {
                                display: inline-block;
                                padding: 0;
                                background: none;
                                clear: inherit;
                                font-size: 12px;
                                font-weight: 400;
                                position: absolute;
                                right: 10px;
                                border: 0;
                                margin-top: -2px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        /* header notifications dropdowns */
                        .dropdown-menu-list {
                            padding-right: 0 !important;
                            padding-left: 0;
                            list-style: none;

                            > li {
                                > a {
                                    display: block;
                                    clear: both;
                                    font-weight: 300;
                                    line-height: 20px;
                                    white-space: normal;
                                    font-size: 13px;
                                    padding: 16px 15px 18px;
                                    text-shadow: none;

                                    &:hover {
                                      @include opacity(1);
                                    }
                                }

                                &:first-child a {
                                    border-top: none;
                                }
                            }
                        }
                    }
                }

                /* Notification */
                > li.dropdown-notification {
                    .dropdown-menu {
                        .dropdown-menu-list {
                            > li {
                                a {
                                    .details {
                                        overflow:hidden;

                                        .label-icon {
                                            margin-right: 10px;
                                            @include border-radius(50%);
                                            padding: .6em .2em .3em .3em;

                                            i {
                                                margin-right: 2px;
                                                margin-left: 1px;
                                            }

                                            .badge {
                                               right: 15px;
                                            }
                                        }
                                    }

                                    .time {
                                        float:right;
                                        max-width:75px;

                                        font-size: 11px;
                                        font-weight: 400;
                                        @include opacity(0.7);

                                        text-align: right;
                                        padding: 1px 5px;
                                    }
                                }
                            }
                        }
                    }
                }



            }
            

            /* When toogled */
            &.only-icons .navbar-nav {
                > li {
                    > a {
                        span {
                            display: none;
                        }
                    }
                }

                .dropdown-menu {
                    > li a {
                        > i {
                            display: none;
                        }
                    }

                }


                /* Separator */
                > li.dropdown-separator {
                    display: none;
                }

                /* Notification */
                > li.dropdown-notification {
                    display: none;
                }
            }
        }

        .nav-menu-right {
            float: right;
        }

        /* Notification */
        // > li.dropdown-notification {
        //     .dropdown-menu {
        //         .dropdown-menu-list {
        //             > li {
        //                 a {
        //                     .details {
        //                         overflow:hidden;

        //                         .label-icon {
        //                             margin-right: 10px;
        //                             @include border-radius(50%);

        //                             i {
        //                                 margin-right: 2px;
        //                                 margin-left: 1px;
        //                             }

        //                             .badge {
        //                                right: 15px;
        //                             }
        //                         }
        //                     }

        //                     .time {
        //                         float:right;
        //                         max-width:75px;

        //                         font-size: 11px;
        //                         font-weight: 400;
        //                         @include opacity(0.7);

        //                         text-align: right;
        //                         padding: 1px 5px;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        /* modulesgarden logo wrapper */
        .mg-logo {
            position: relative;
            display: inline-block;
            float: right;
            width: 159px;
            height: $header-hor-menu-height;
            padding-top: 12px;
            margin-right: 10px;
        }

        /* Header logo */
        .modulename-logo {
            float: right;
            display: block;
            width: $header-logo-container-width;
            height: $header-logo-height;
            margin: $header-logo-container-margin;

            .logo-default {
                display: inline;
                margin-top: $header-logo-margin-top;
            }
            img.logo-default-cog {
                display: none;
                height: 29px;
            }
            
            &.only-cog {
                padding-top: 18px;
                width: initial;
                margin: 0;
                margin-right: 20px;
                padding-left: 30px;
                img.logo-default {
                    display: none;
                }
                img.logo-default-cog {
                    display: inline;
                }
            }
        }
    }
}

@media (max-width: 1155px) {

        /* Main Module Navigation Bar */
        .nav-menu {
            .navbar-nav {
                > li {
                    > a {
                        span {
                            display: none;
                        }
                    }
                }

                .dropdown-menu {
                    > li a {
                        > i {
                            display: none;
                        }
                    }

                }


                /* Separator */
                > li.dropdown-separator {
                    display: none;
                }

                /* Notification */
                > li.dropdown-notification {
                    display: none;
                }

            }
        }
}
@media (max-width: 600px) {
    .page-header .top-menu {
        .nav-menu-right,
        .modulename-logo,
        .navbar-right {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .navbar-nav {
        margin: inherit;
        > li {
            float: left !important;
        }
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}
@media (max-width: 500px) { /* 991px */

    /* Page header */
    .page-header {
        padding: 0;
        clear: both;
        height: auto;

        .top-menu {
            padding: 20px 0 0 0;
            height: auto;
            /*display: none;*/

            @include reset-container();

            .nav-menu {
                float: none;

                .navbar-nav {
                    float: none;

                    > li {
                        float: none;

                        > a {
                            padding:10px;

                            .fa-angle-down {
                                float: right;

                                &:before {
                                    content: "\f104";
                                }
                            }
                        }

                        &.open {
                            > a {
                                .fa-angle-down:before {
                                    content: "\f107";
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        position: static;
                        float: none !important;
                        width: auto;
                        display: none;
                    }

                    li.mega-menu-dropdown {
                        &.active,
                        &.open {
                            > .dropdown-menu {
                                display: block;
                                min-width: 100% !important;
                            }
                        }
                    }

                    li.classic-menu-dropdown {
                        > li {
                            &.active,
                            &.open {
                                > .dropdown-menu {
                                    display: block;
                                }
                            }
                        }

                        > .dropdown-menu {
                            > li {
                                > a {
                                    padding-left: 20px;
                                }

                                > .dropdown-menu {
                                    > li {
                                        > a {
                                            padding-left: 40px;
                                        }

                                        > .dropdown-menu {
                                            > li {
                                                > a {
                                                    padding-left: 60px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.active,
                        &.open {
                            > .dropdown-menu {
                                display: block;
                            }
                        }

                        .dropdown-menu {
                            max-width: none;
                            width: auto;

                            > li {

                                &.divider {
                                    background: none;
                                    margin: 5px 12px;
                                }

                                &.dropdown-submenu {
                                    > a:after {
                                        content: "\f104";
                                        font-size: 14px;
                                        margin-right: 7px;
                                    }
                                }

                                &.dropdown-submenu.open {
                                    > a:after {
                                        content: "\f107";
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}


@media (max-width: $screen-xs-min) { /* 480px */

    .page-header {

        /* Top navigation menu*/
        .top-menu {
            display: block;
            @include clearfix();
            clear: both;
            margin-top: -10px;

            .username-hide-mobile {
                display: none;
            }
        }
    }
}

/***
Pace - Page Progress
***/

.pace .pace-progress {
  z-index: 10000;
  top: $header-top-nav-height !important;
  height: 3px !important;
}

.pace .pace-progress-inner {
  box-shadow: none;
}

.pace .pace-activity {
  top: $header-top-nav-height + 2px;
  right: 22px;
  border-radius: 10px !important;
}

@media (max-width: $screen-xs-min) {

    .page-header-fixed .pace .pace-progress {
      top: ($header-top-nav-height * 2);
    }

    .page-header-fixed .pace .pace-activity {
      top: ($header-top-nav-height * 4) + 4px;
      right: 15px;
    }

    .navbar-right {
        display: none;
    }
}