/******************************
 3RD PARTY PLUGIN CUSTOMIZATION
******************************/
/**
 * GLOBAL VARIABLES
 * USED TO GENERATE:
 *     global-components
 *     plugins
 *
 * also included when you generate theme
 *
 * You can override bootstrap colors here ! (since this file is included whire bootstrap theme is compiled)
 */
/**
 *
 * ADDS A BROWSER PREFIX TO THE PROPERTY
 * Insane usefull, but Koala have autoprefixer....
 *
 * I'm gonna leave this peace of code here
 */
/***
jQuery Slimscroll
***/
.scroller {
  padding: 0px;
  margin: 0px;
  padding-right: 12px;
  overflow: hidden; }

.scroller-footer {
  margin-top: 10px; }
  .scroller-footer:before, .scroller-footer:after {
    content: " ";
    display: table; }
  .scroller-footer:after {
    clear: both; }

.portlet-body .slimScrollBar {
  margin-right: 0px; }
