<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magecomp_geocurrencystore" frontName="geocurrencystore">
            <module name="Magecomp_Geocurrencystore" before="Magento_Backend" />
        </route>
    </router>
</config>