<div class="box light bordered" ng-class="{'toogled': toogled.wholeform }">
    <div class="box-title">
        <div class="caption">
            <span class="bold font-red-thunderbird uppercase">
                {{ ::('mailbox.edit.header' | translate) }}{{ mailboxID }}
            </span>
        </div>

        <div class="actions">
            <a href="#" ng-show="toogled.wholeform" ng-click="toogled.wholeform=!toogled.wholeform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" ng-hide="toogled.wholeform" ng-click="toogled.wholeform=!toogled.wholeform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                <i class="fa fa-compress"></i>
            </a>
            <a href="javascript:;" class="btn btn-sm btn-circle btn-outline btn-inverse btn-transparent btn-danger btn-icon-only fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
        </div>
    </div>
    <div class="box-body" block-ui="mailboxForm">

        <note ng-repeat="m in scopeMessages" type="{{m.type}}" dismiss="true" close="{{$index}}"><h4 class="note-title">{{m.title}}</h4>{{m.content}}</note>

        <form class="form-horizontal" role="form" name="mailboxForm" ng-submit="updateMailboxFormSubmit()">
            
            <div class="container-fluid raw">
                <div class="box light bordered" ng-class="{'toogled': toogled.mainform }">
                    <div class="box-title">
                        <div class="caption">
                            <span class="bold">
                                {{ ::('mailbox.widget.add.mailbox' | translate) }}
                            </span>
                        </div>
                        <div class="actions">
                            <a href="#" ng-show="toogled.mainform" ng-click="toogled.mainform=!toogled.mainform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" ng-hide="toogled.mainform" ng-click="toogled.mainform=!toogled.mainform" class="btn btn-sm btn-danger btn-circle btn-outline btn-inverse btn-transparent btn-icon-only">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.name.$invalid, 'ng-valid': mailboxForm.name.$valid}">
                                    <label for="name" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.name' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name" ng-model="model.name" placeholder="{{ 'mailbox.form.name.placeholder' | translate }}" required>
                                        <small class="help-block error" ng-show="mailboxForm.name.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group col-lg-12 col-md-12" ng-class="{'ng-invalid': mailboxForm.description.$invalid, 'ng-valid': mailboxForm.description.$valid}">
                                <label for="description" class="col-lg-1 col-md-1 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.description' | translate }}</label>
                                <div class="col-lg-11 col-md-11 col-sm-10">
                                    <textarea class="form-control" 
                                              name="description" 
                                              placeholder="{{ 'mailbox.form.description.placeholder' | translate }}" i
                                              id="description" 
                                              rows="3" 
                                              ng-model="model.description" ></textarea>
                                    <small class="help-block">{{ 'mailbox.form.description.descr' | translate }}</small>
                                </div>
                            </div>
                        </div>
                        
                        
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.email.$invalid, 'ng-valid': mailboxForm.email.$valid}">
                                    <label for="email" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.email' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="email" class="form-control" name="email" id="email" ng-model="model.email" placeholder="{{ 'mailbox.form.email.placeholder' | translate }}" required>
                                        <small class="help-block error" ng-show="mailboxForm.email.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.server.$invalid, 'ng-valid': mailboxForm.server.$valid}">
                                    <label for="server" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.server' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" class="form-control" name="server" id="server" ng-model="model.SMTPHost" placeholder="{{ 'mailbox.form.server.placeholder' | translate }}" required>
                                        <small class="help-block error" ng-show="mailboxForm.server.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.username.$invalid, 'ng-valid': mailboxForm.username.$valid}">
                                    <label for="username" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.username' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" class="form-control" name="username" id="username" ng-model="model.SMTPUsername" placeholder="{{ 'mailbox.form.username.placeholder' | translate }}" required>
                                        <small class="help-block error" ng-show="mailboxForm.username.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.password.$invalid, 'ng-valid': mailboxForm.password.$valid}">
                                    <label for="password" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.password' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="password" class="form-control" name="password" id="password" autocomplete="new-password" ng-model="model.password" required>
                                        <small class="help-block error" ng-show="mailboxForm.password.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="col-lg-12 col-md-12">
                                
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.encryption.$invalid, 'ng-valid': mailboxForm.encryption.$valid}">
                                    <label for="encryption" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.encryption' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        
                                        <select class="form-control input-sm" name="encryption" id="encryption" ng-model="model.SMTPSSL">
                                            <option value="0">-</option>
                                            <option value="tls">TLS</option>
                                            <option value="ssl">SSL</option>
                                        </select>
                                        <small class="help-block">{{ 'mailbox.form.encryption.descr' | translate }}</small>
                                        <small class="help-block error" ng-show="mailboxForm.encryption.$invalid">{{ 'form.validator.text.required' | translate }}</small>
                                    </div>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6" ng-class="{'ng-invalid': mailboxForm.port.$invalid, 'ng-valid': mailboxForm.port.$valid}">
                                    <label for="port" class="col-lg-2 col-md-2 col-sm-2 control-label primary-font thin">{{ 'mailbox.form.port' | translate }}</label>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="text" pattern="\d*" class="form-control" name="port" id="port" ng-model="model.SMTPPort" placeholder="{{ 'mailbox.form.port.placeholder' | translate }}" required>
                                        <small class="help-block error" ng-show="mailboxForm.port.$invalid">{{ 'form.validator.text.required_digits' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                
            </div>

            <div class="form-group col-lg-12">
                <div class="text-center no-margin-top">
                    <button type="submit" ng-disabled="mailboxForm.$invalid" class="btn btn-success btn-inverse">{{ ::('mailbox.button.edit.update' | translate) }}</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>


        <div class="clearfix"></div>
    </div>
</div>
