<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="KJ_MageMail::top_level_example"
             title="MageMail Connector"
             module="KJ_MageMail"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Magento_CatalogRule::promo"
             action="adminhtml/system_config/edit/section/newsletter"
        />
    </menu>
</config>