/***
 * Customized Bootstrap Buttons
 *
 * Based on http://necolas.github.io/css3-github-buttons/
 * + improvements :D
 ***/


.btn
{
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: none !important;

    // color
    color: $state-test-text;
    // shadow
    @if lightness($state-test-text) < 50% {
        // dark color !
        @include text-shadow(1px, 1px, 0, #fff);
    } @else {
        @include text-shadow(1px, 1px, 0, rgba(0,0,0,.3));
    }
    // border
    border: 1px solid $state-test-border;

    padding: 6px 11px 5px 11px;
    font:12px/normal sans-serif;

    line-height: 1.5;

    @include linear-gradient($state-test-bg-from, $state-test-bg-to, $state-test-bg-to);

    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;


    &.btn-outline {
      color: darken($state-test-default-border, 40%);
      border-color: darken($state-test-default-border, 13%);
      background: transparent;
    }


    &.btn-transparent {
      color: darken($state-test-default-border, 40%);
      border: none !important;
      background: transparent;
    }

    &.dropdown-toggle,
    &:hover,
    &:disabled,
    &[disabled],
    &:focus,
    &:active,
    &.active {

        border-color: $state-test-default-border;
        text-decoration: none;

          @if lightness($state-test-default-bg-to) < 50% {
            // dark color !
            @include text-shadow(1px, 1px, 0, rgba(0,0,0,.3));
            color: #fff;
          } @else {
            @include text-shadow(1px, 1px, 0, #fff);
            color: #000;
          }

        @include linear-gradient($state-test-default-bg-from, $state-test-default-bg-to, $state-test-default-bg-to);

    }

    &:hover,
    &:disabled,
    &[disabled],
    &:focus,
    &:active,
    &.active {
        border-bottom-color: darken($state-test-default-border, 10%);
    }

    // On click ;)
    &:active,
    &.active {
        border-color: darken($state-test-default-border, 10%);
        border-bottom-color: darken($state-test-default-border, 15%);

        @include set-box-shadow(0, 0, 12px, rgba(0,0,0,.2), inset);
    }

    &.btn-left-stripe {
        border-left-width: 3px;
        border-left-style: solid;
    }
    &.btn-right-stripe {
        border-right-width: 3px;
        border-right-style: solid;
    }
    

    > i {
      color: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;
      margin-right: 5px;
    }

    &.icon-left > i {
      position: relative;
      float: left;
      border-right: 1px solid rgba(0,0,0,0.1);
      background: rgba(0,0,0,0.05);
      padding: inherit;
      /*padding-top: 8px;*/
      padding-bottom: 6px;

      margin: -6px 7px -7px -12px;
      padding-right: 8px;
    }

    &.icon-right > i {
      position: relative;
      float: right;
      border-left: 1px solid rgba(0,0,0,0.1);
      background: rgba(0,0,0,0.05);
      padding: inherit;
      /*padding-top: 8px;*/
      padding-bottom: 6px;

      margin: -6px -12px -7px 7px;
      padding-left: 8px;
    }

    &.btn-icon-only > i {
      // height: 34px;
      // width: 34px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0 !important;

    }

    &.dropdown-toggle > i {
      /*line-height: 1.4 !important;*/
      margin-right: 0;
    }

}



/* overrides extra padding on button elements in Firefox */
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

// .btn-default {
//   border-width: 1px;
//   padding: 6px 13px;
// }

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


/* Bootstrap buttons */
.btn-default {
  @include button-variant($state-test-default-text, $state-test-default-bg-from, $state-test-default-bg-to);

  > i {
    color: #aaa;
  }

  > i[class^="icon-"],
  > i[class*="icon-"] {
    color: darken(#999, 5%);
  }
}

.btn-primary {
  @include button-variant($state-test-primary-text, $state-test-primary-bg-from, $state-test-primary-bg-to);
}

.btn-success {
  @include button-variant($btn-bootstrap-success-text, $btn-bootstrap-success-bg-from, $btn-bootstrap-success-bg-to);
}
.btn-info {
  @include button-variant($btn-bootstrap-info-text, $btn-bootstrap-info-bg-from, $btn-bootstrap-info-bg-to);
}

.btn-warning {
  @include button-variant($btn-bootstrap-warning-text, $btn-bootstrap-warning-bg-from, $btn-bootstrap-warning-bg-to, "light");
}

.btn-danger {
  @include button-variant($state-test-danger-text, $state-test-danger-bg-from, $state-test-danger-bg-to);
}

// EXTRA COLOROOOOORS
.btn-purple      {  @include button-variant($btn-extra-purple-text, $btn-extra-purple-bg-from, $btn-extra-purple-bg-to, "light"); }
.btn-green-cyan  {  @include button-variant($btn-extra-green-cyan-text, $btn-extra-green-cyan-bg-from, $btn-extra-green-cyan-bg-to, "light"); }
.btn-green-grey  {  @include button-variant($btn-extra-green-grey-text, $btn-extra-green-grey-bg-from, $btn-extra-green-grey-bg-to, "light"); }
.btn-gold        {  @include button-variant($btn-extra-gold-text, $btn-extra-gold-bg-from, $btn-extra-gold-bg-to, "light"); }
.btn-orange      {  @include button-variant($btn-extra-orange-text, $btn-extra-orange-bg-from, $btn-extra-orange-bg-to, "light"); }
.btn-red-light   {  @include button-variant($btn-extra-red-light-text, $btn-extra-red-light-bg-from, $btn-extra-red-light-bg-to, "light"); }
.btn-grey-light  {  @include button-variant($btn-extra-grey-light-text, $btn-extra-grey-light-bg-from, $btn-extra-grey-light-bg-to, "light"); }
.btn-grey-medium {  @include button-variant($btn-extra-grey-medium-text, $btn-extra-grey-medium-bg-from, $btn-extra-grey-medium-bg-to, "light"); }
.btn-grey-dark   {  @include button-variant($btn-extra-grey-dark-text, $btn-extra-grey-dark-bg-from, $btn-extra-grey-dark-bg-to, "light"); }
.btn-black       {  @include button-variant($btn-extra-black-text, $btn-extra-black-bg-from, $btn-extra-black-bg-to, "light"); }



/* Button sizes */
.btn-group {

  i {
    margin-top: 0;
    font-size: inherit !important;
    line-height: 1.5 !important;
  }

}

.btn-xlg {
    padding: 10px 18px 8px 18px;
    font:16px/normal sans-serif;
    line-height: 1.33;

    &.icon-left > i {
      margin: -10px 10px -8px -18px;
      padding-right: 16px;
    }

    &.icon-right > i {
      margin: -10px -18px -8px 10px;
      padding-left: 16px;
    }

}

.btn-lg {
    padding: 8px 14px 6px 14px;
    font:14px/normal sans-serif;
    line-height: 1.5;

    &.icon-left > i {
      margin: -8px 10px -6px -15px;
      padding-right: 12px;
    }

    &.icon-right > i {
      margin: -8px -15px -6px 10px;
      padding-left: 12px;
    }
}

.btn-sm {
    padding: 4px 8px 3px 8px;
    font:11px/normal sans-serif;
    line-height: 1.5;


    &.icon-left > i {
      margin: -3px 8px -4px -8px;
      padding-right: 7px;
      padding-bottom: 3px;
    }

    &.icon-right > i {
      margin: -3px -8px -4px 8px;
      padding-left: 7px;
      padding-bottom: 3px;
    }
}



.btn-xs {
    padding: 1px 5px;
    font:11px/normal sans-serif;
    line-height: 1.5;

    &.icon-left > i {
      margin: -1px 5px -1px -5px;
      padding-right: 5px;
      padding-bottom: 1px;
    }

    &.icon-right > i {
      margin: -1px -5px -1px 5px;
      padding-left: 5px;
      padding-bottom: 1px;
    }
}

/* Small button in button group */

.btn-group {
    .input-sm {
        .btn-default {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    
    &.btn-group-sm > .btn {
        padding: 4px 8px 3px 8px;
        font:11px/normal sans-serif;
        line-height: 1.5;
    }
    
    &.btn-group-lg > .btn {
        padding: 8px 14px 6px 14px;
        font:14px/normal sans-serif;
        line-height: 1.5;
    }
    
    &.btn-group-xlg > .btn {
        padding: 10px 18px 8px 18px;
        font:16px/normal sans-serif;
        line-height: 1.33;
    }
    
    &.btn-group-xs > .btn {
        padding: 1px 5px;
        font:11px/normal sans-serif;
        line-height: 1.5;
    }
}


/* Arrow link */

.btn-arrow-link {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;

    > i {
       font-size: 14px;
       line-height: 14px;
       vertical-align: top;
       margin: 2px 3px 2px 3px;
       color: #999;
    }

    &.btn-arrow-link-lg {
      font-size: 14px;

      > i {
         font-size: 16px;
         line-height: 16px;
         margin: 2px 3px 1px 3px;
      }
    }
}

/* Circle Buttons */

.btn-circle {
  border-radius: 25px !important;
}

.btn-circle-right {
  border-radius:  0 25px 25px 0 !important;
}

.btn-circle-left {
  border-radius: 25px 0 0 25px !important;
}

.btn-circle-bottom {
  border-radius:  0 0 25px 25px !important;
}

.btn-circle-top {
  border-radius: 25px 25px 0 0 !important;
}

.btn-icon-only {
  // height: 34px;
  // width: 34px;
  // text-align: center;
  // padding-left: 0;
  // padding-right: 0;
  // margin-right: 0 !important;

  // > [class^="icon-"],
  // > i {
  //   text-align: center;
  //   margin-top: 2px;
  // }
}

// .btn-sm {
//   > [class^="glyphicon-"],
//   > [class*=" glyphicon-"],
//   > i {
//     font-size: 13px;
//   }
// }

// .btn-xs {
//   > [class^="glyphicon-"],
//   > [class*=" glyphicon-"],
//   > i {
//     font-size: 11px;
//   }
// }

.btn-group.btn-group-circle {
    > .btn {
        &:first-child {
            border-radius: 25px 0 0 25px !important;
        }

        &:last-child {
            border-radius: 0 25px 25px 0 !important;
        }
    }
}

.btn-group.btn-group-devided {
    > .btn {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-group-vertical.btn-group-vertical-circle {
     > .btn {
        &:first-child {
            border-radius: 25px 25px 0 0 !important;
        }

        &:last-child {
            border-radius: 0 0 25px 25px !important;
        }
    }
}