/***
Customized Bootstrap Panels
***/

.panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;


    .panel-group & {
        overflow: visible;
    }

    .panel-body {
        font-size: 13px;
    }

    .panel-title > a:hover {
        text-decoration: none;
    }

}

// Collapsable panels (aka, accordion)
.panel-group {
  .panel {
    .panel-heading {
        .panel-title {
            .accordion-toggle {
                display: block;
                position: relative;
            }



            .accordion-toggle.accordion-toggle-styled:before {
                position:absolute;
                font-family: "Simple-Line-Icons";
                top:0;
                right:0;
                content: "\e091";
                font-size: 1.2em;
            }


            .accordion-toggle.accordion-toggle-styled.collapsed:before {
                position:absolute;
                font-family: "Simple-Line-Icons";
                top:0;
                right:0;
                content: "\e092";
                font-size: 1.2em;
            }
        }
    }
  }
}

// Contextual variations

.panel-default {
  @include panel-variant(lighten($state-default-border, 15%), $state-default-text, lighten($state-default-bg, 20%), lighten($state-default-border, 15%));
}

.panel-primary {
  @include panel-variant($state-primary-border, $state-primary-text, $state-primary-bg, $state-primary-border);
}

.panel-success {
  @include panel-variant($state-success-border, $state-success-text, $state-success-bg, $state-success-border);
}

.panel-info {
  @include panel-variant($state-info-border, $state-info-text, $state-info-bg, $state-info-border);
}

.panel-warning {
  @include panel-variant($state-warning-border, $state-warning-text, $state-warning-bg, $state-warning-border);
}

.panel-danger {
  @include panel-variant($state-danger-border, $state-danger-text, $state-danger-bg, $state-danger-border);
}

/***
Accordions
***/

.accordion-heading {
    background:#eee;

    a {
        text-decoration:none;
    }

    a:hover {
        text-decoration:none;
    }
}


/**
 * Borders
 * lets say we dont want to use it only for panels
 */

.border-top-default {  @include panel-border(top, $panel-border-global-length, lighten($state-default-border, 15%)); }
.border-top-primary {  @include panel-border(top, $panel-border-global-length, $state-primary-border); }
.border-top-success {  @include panel-border(top, $panel-border-global-length, $state-success-border); }
.border-top-info    {  @include panel-border(top, $panel-border-global-length, $state-info-border); }
.border-top-warning {  @include panel-border(top, $panel-border-global-length, $state-warning-border); }
.border-top-danger  {  @include panel-border(top, $panel-border-global-length, $state-danger-border); }

.border-left-default {  @include panel-border(left, $panel-border-global-length, lighten($state-default-border, 15%)); }
.border-left-primary {  @include panel-border(left, $panel-border-global-length, $state-primary-border); }
.border-left-success {  @include panel-border(left, $panel-border-global-length, $state-success-border); }
.border-left-info    {  @include panel-border(left, $panel-border-global-length, $state-info-border); }
.border-left-warning {  @include panel-border(left, $panel-border-global-length, $state-warning-border); }
.border-left-danger  {  @include panel-border(left, $panel-border-global-length, $state-danger-border); }

.border-right-default {  @include panel-border(right, $panel-border-global-length, lighten($state-default-border, 15%)); }
.border-right-primary {  @include panel-border(right, $panel-border-global-length, $state-primary-border); }
.border-right-success {  @include panel-border(right, $panel-border-global-length, $state-success-border); }
.border-right-info    {  @include panel-border(right, $panel-border-global-length, $state-info-border); }
.border-right-warning {  @include panel-border(right, $panel-border-global-length, $state-warning-border); }
.border-right-danger  {  @include panel-border(right, $panel-border-global-length, $state-danger-border); }

.border-bottom-default {  @include panel-border(bottom, $panel-border-global-length, lighten($state-default-border, 15%)); }
.border-bottom-primary {  @include panel-border(bottom, $panel-border-global-length, $state-primary-border); }
.border-bottom-success {  @include panel-border(bottom, $panel-border-global-length, $state-success-border); }
.border-bottom-info    {  @include panel-border(bottom, $panel-border-global-length, $state-info-border); }
.border-bottom-warning {  @include panel-border(bottom, $panel-border-global-length, $state-warning-border); }
.border-bottom-danger  {  @include panel-border(bottom, $panel-border-global-length, $state-danger-border); }
